.navbar {
  width: 41.66vw;
  background-color: #ffffff;
  color: #3a5165;
  border: 1px solid rgba(118, 148, 174, 0.3);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 10px;

  @media (max-width: $tablet) {
    width: 65vw;

    min-height: 100px;
  }
}

.navbar-toggler-icon {
  width: 50vw;
  color: #3a5165;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  padding: 0 0 0 0;
  text-align: left;
}

.nav-link {
  color: $black;
}

.navbar-header {
  width: 100%;
  background-color: #0c397c;
  font-family: "PT Mono", monospace;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-toggler {
  flex-wrap: nowrap;
  width: 94%;
  padding-left: 0;
  padding: 10px 0;
  display: flex;

  &:active,
  &:hover,
  &:focus {
    outline: none;
  }

  @media (max-width: $tablet) {
    padding-top: 0;
  }
}

.navbar-collapse {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.nav-link {
  color: #ffffff;
  padding-right: 12px;

  &--button {
    border: 1px solid #ffffff;
  }
}

.active {
  background-color: #ffffff;
  color: #480a35;
  padding-right: 12px;
}

.nav-item--span {
  display: flex;
}
.nav-item__span-ru {
  padding-right: 24px;
  color: #ffffff;
  opacity: 0.6;
  padding-top: 8px;
}

.dropdown-menu {
  z-index: 1000;
  overflow: hidden;
}
