$basic-blue: #0d4290;
$header-blue: #0c397c;
$light-blue: #4a71ac;
$black: #282626;
$dark: #112133;
$orange: #fe5955;
$yellow: #ffe352;
$grey: #e3eaf0;
$white: #ffffff;

$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;
